@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                                
                              <div class="container p-3">
                               <form>
                                <textarea class="form-control" id="user-comment" rows="3" placeholder="Enter your Comments..."></textarea>
                                <div class="py-2">
                                      <button type="submit" id="@ViewBag.cardData.MissionId" class="btn btn-outline-warning rounded-pill" onclick="PostComment(this.id)">Post Comment</button>
                                      </div>
                                     </form>
                                      <div class="container" style="height:600px;overflow-y:scroll;">
                                          <div class="p-3 bg-light">
                                            @if (ViewBag.commentViewBag != null)
                                            {
                                                @foreach (var item in @ViewBag.commentViewBag)
                                                {
                                                    <span class="d-block p-2 my-2" style="background-color:white;">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-12 text-center py-2">
                                                                <div><img src="/Images/CI Platform Assets/@item.Avatar" style="border-radius:50%;" class="h-50 w-50 align-items-center"/></div>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-12 py-2">
                                                                <div>@item.UserName
                                                                    <div class="small">@item.Day,@item.Month,@item.Year.@item.WeekDay @item.Time</div>
                                                                    <div class="py-2">@item.Comment</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </span>
                                                }

                                            }

                                         
                                      </div>
                                      </div>
                                  </div>
                              </div>
                              <script>
                               function PostComment(missionId)
                               {
                                 var comment = $("#user-comment").val();
            
                                    if(comment == null || comment=="")
                                    {
                                         $("#comment-status").html("please enter the comment");
                                          $("#comment-status").css("color","red");
                                    }
                                    else
                                    {
                                        $.ajax({

                                        url:"/Mission/PostCommentInMission",
                                        method: "POST",

                                      data:
                                          {
                                            comment:comment,
                                            missionId:missionId
                                          },
                                      success:function(data)
                                         {
                                          $("#comment-status").html("comment sent for approvel");
                                          $("#comment-status").css("color","green");
                                         }
                                       })
                                    }
                                }
                                </script>
}
