@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
                                     @{
                                        @foreach(var objcard in @ViewBag.cardDetail)
                                            {
                                               <div class="col-lg-4 col-md-6 col-12">
                                                <div class="card">
                                                    <div class="card">
                                                         <img src="/Images/CI Platform Assets/@objcard.MediaName" class="position-relative container-fluid" />
                                                    <div class="card-img-overlay d-flex flex-column align-items-end">
                                                          <div>
                                                              <button type="button" class="bg-dark text-white bg-opacity-bg-opacity-50"><i class="bi bi-geo-alt"></i><span id="@objcard.CityId">@objcard.CityName</span></button>
                                                          </div>
                                                          <div>
                                                            @if (@objcard.checkFav == true)
                                                            {
                                                                <button type="submit" class="bg-dark text-white bg-opacity-50" onclick="AddMissionToFav(@objcard.MissionId)"><i style="color:red" class="bi bi-heart-fill" id="addtofav_@objcard.MissionId"></i></button>
                                                            }
                                                            else
                                                            {
                                                                <button type="submit" class="bg-dark text-white bg-opacity-50" onclick="AddMissionToFav(@objcard.MissionId)"><i style="color:white" class="bi bi-heart" id="addtofav_@objcard.MissionId"></i></button>
                                                            }
                                                        </div>
                                                         <div>
                                                              <button type="submit" class="bg-dark text-white bg-opacity-bg-opacity-50"><i class="bi bi-people"></i></button>
                                                         </div>
                                          
                                                         
                                                    </div>
                                                    <div class="card img-overlay d-flex align-items-center justify-content-center" >
                                                        <div class="rounded-pill bg-light position-absolute text-center p-2 small" id="@objcard.MissionId">@objcard.Theme</div>
                                                    </div>
                                                </div>
                                                    <div class="card-body">
                                                        <h3 class="card-title"> @objcard.Title </h3>
                                                        <p class="card-text"> @objcard.ShortDescription</p>
                                                        <div class="row">

                                                            <div class="col-lg-6 col-md-6 col-6 small"> @objcard.OrganizationName</div>
                                                            <div class="col-lg-6 col-md-6 col-6 d-flex">
                                                              
                                                                   @for (var i = 0; i < (@objcard.Rating); i++)
                                                                        {
                                                                            <i class="bi bi-star-fill checked"></i>
                                                                        }  
                                                                   @for (var i = 0; i < 5 - (@objcard.Rating); i++)
                                                                         {
                                                                            <i class="bi bi-star"></i>
                                                                         }       
                                                                 
                         
                                                            </div>
                                                         

                                                        </div>
                                                        <div class="row py-4">
                                                                <div class="row d-flex align-items-center justify-content-center position-relative">
                                                               <div class="border rounded-pill m-auto p-1 position-absolute small" style="width:fit-content;background-color:white;">From @objcard.StartDate.ToString("dd/MM/yyyy") until @objcard.EndDate.ToString("dd/MM/yyyy")</div>
                                                              </div>
                                                               
                                                                   <div class="row pt-4 pb-3">
                                                               
                                                                    <div class="col-lg-6 col-md-6 col-6 d-flex">

                                                                        <div><i class="bi bi-person-check py-1"></i>&nbsp;&nbsp;</div>
                                                                        <div class="small">@objcard.Avaibility
                                                                            <div class="small">Seats left</div>
                                                                        </div>


                                                                    </div>
                                                                      @if (@objcard.MissionType == false)
                                                                        {
                                                                    <div class="col-lg-6 col-md-6 col-6 d-flex">
                                                                   
                                                                         <img src="/Images/CI Platform Assets/achieved.png">&nbsp;&nbsp;
                                                                             
                                                                        <div class="progress w-100">
                                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>
                                                                                                                               
                                                                            </div>
                                                                            }
                                                                            else
                                                                            {
                                                                           <div class="col-lg-6 col-md-6 col-6 d-flex">
                                                                            <div><i class="bi bi-clock py-1"></i>&nbsp;&nbsp;</div>
                                                                            <div class="small">@objcard.EndDate.ToString("dd/MM/yyyy")
                                                                                <div class="small">Deadline</div>
                                                                                </div>
                                                                               </div>
                                                                                 
                                                                            }
                                                                     </div>
                                                            
                                                      
                                                        <div class="text-center">
                                                        <a asp-controller="Mission" asp-action="MissionVolunteering" asp-route-id = "@objcard.MissionId">
                                                            <button class="btn btn-outline-warning rounded-pill" type="submit">Apply<img src="/Images/CI Platform Assets/right-arrow.png" /></button>
                                                            </a>
                                                        </div>
                                                   
                                                    
                                                    </div>
                                                   
                                                    </div>
                                                    </div>
                                                    </div>

                                                }
                                                <script> 
                                                 function AddMissionToFav(missionId){
                      
                                                   $.ajax({
                                                    url: "/Mission/AddMissionToFav",
                                                    method : "POST",

                                                    data:{
                                                        "missionId" : missionId
                                                    },
                                                    success: function (missions){
                                                        console.log(missions)
                                                        if (missions == true){
                                                            console.log('addtofav output:'.missions);
                                                            $('#addtofav_' + missionId).removeClass();
                                                            $('#addtofav_' + missionId).addClass("bi bi-heart-fill");
                                                            $('#addtofav_' + missionId).css("color","red");
                                                            /*----------------List---------------------*/
                                                            $('#addtofavList_' + missionId).removeClass();
                                                            $('#addtofavList_' + missionId).addClass("bi bi-heart-fill");
                                                            $('#addtofavList_' + missionId).css("color","red");
                                                            toastr.success('Add to Favourite successfully');
                                                        }
                                                        else
                                                        {
                                                            $('#addtofav_' + missionId).css("color","white");
                                                            $('#addtofav_' + missionId).removeClass();
                                                            $('#addtofav_' + missionId).addClass("bi bi-heart");
                                                            /*------------List-----------------------------*/
                                                            $('#addtofavList_' + missionId).css("color","white");
                                                            $('#addtofavList_' + missionId).removeClass();
                                                            $('#addtofavList_' + missionId).addClass("bi bi-heart");
                                                            toastr.success('Remove from Favourite successfully');
                                                        }
                                                    },
                                                    error: function (request, error){
                                                        console.log(error);
                                                    }
                                                })
                                            }

                                
                                            </script>
                                              
                                     }
